<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Support</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>How to reach support?</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="lead">
                            For support send inquiry to support@email.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
